html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
    width: 100%;
}

.left-sidebar {
    border: 2px solid red;
    width: 200px;
    height: 500px;
}

.right-sidebar {
    border: 2px solid red;
    width: 200px;
    height: 500px;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.grid {
    border: 2px solid black;
    width: 500px;
    height: 500px;
    display: grid;
}

.header {
    background-color: aqua;
    width: 100%;
}

.footer {
    background-color: aqua;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: auto;
}

.header-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer > p {
    display: flex;
    justify-content: center;
    align-items: center;
}